name: validate

on:
  push:
    branches: [main]
  pull_request:
    branches: '**'

jobs:
  validate:
    runs-on: ${{ matrix.os }}
    strategy:
      fail-fast: false
      matrix:
        os:
          - ubuntu-latest
          - ubuntu-24.04-arm

    outputs:
      drvpath: ${{ steps.test-derivation.outputs.drvpath }}

    steps:

    - uses: actions/checkout@v3

    - uses: cachix/install-nix-action@v22
      with:
        extra_nix_config: "system-features = nixos-test benchmark big-parallel kvm"
        nix_path: nixpkgs=channel:nixos-23.11

    - name: build
      run: NIXPKGS_ALLOW_UNFREE=1 nix build --impure

    - name: check flake (runs tests)
      run: NIXPKGS_ALLOW_UNFREE=1 nix flake check --impure --log-format internal-json
      timeout-minutes: 15
      env:
        CI: "true"

    - name: get test derivation path
      id: test-derivation
      if: always()
      run: |
        drvpath=$(ls -d /nix/store/*-vm-test-run-kolide-launcher)
        echo "drvpath=${drvpath}" >> "$GITHUB_OUTPUT" 
    
    - name: upload test screenshots
      uses: actions/upload-artifact@v4
      if: always()
      with:
        name: test-screenshots
        path: ${{ steps.test-derivation.outputs.drvpath }}/test-*.png
        retention-days: 1

    - name: upload test flare
      uses: actions/upload-artifact@v4
      if: always()
      with:
        name: test-flare
        path: ${{ steps.test-derivation.outputs.drvpath }}/kolide_agent_flare_report_*.zip
        retention-days: 1

    - name: show flake output attributes
      run: nix flake show --impure

    - name: show flake metadata
      run: nix flake metadata

    - name: launcher version
      run: ./result/bin/launcher version

    - name: osqueryd version
      run: ./result/bin/osqueryd --version
