name: validate

on:
  push:
    branches: [main]
  pull_request:
    branches: '**'

jobs:
  validate:
    runs-on: ubuntu-latest
    outputs:
      drvpath: ${{ steps.test-derivation.outputs.drvpath }}

    steps:

    - uses: actions/checkout@v3

    - uses: cachix/install-nix-action@v22
      with:
        extra_nix_config: "system-features = nixos-test benchmark big-parallel kvm"

    - name: build
      run: NIXPKGS_ALLOW_UNFREE=1 nix build --impure

    - name: check flake (runs tests)
      run: NIXPKGS_ALLOW_UNFREE=1 nix flake check --impure --log-format internal-json
    
    - name: get test derivation path
      id: test-derivation
      run: |
        drvpath=$(ls -d /nix/store/*-vm-test-run-kolide-launcher)
        echo "drvpath=${drvpath}" >> "$GITHUB_OUTPUT" 
    
    - name: upload test screenshot
      uses: actions/upload-artifact@v4
      with:
        path: ${{ steps.test-derivation.outputs.drvpath }}/test.png
        retention-days: 1

    - name: show flake output attributes
      run: nix flake show

    - name: show flake metadata
      run: nix flake metadata

    - name: launcher version
      run: ./result/bin/launcher version

    - name: osqueryd version
      run: ./result/bin/osqueryd --version
